@import url('https://fonts.cdnfonts.com/css/cocogoose');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  font-family: 'COCOGOOSE', sans-serif;
  min-width: 568px;
}

body,
p,
h1 {
  margin: 0;
  color: #272a31;
}

hr {
  height: 1px;
  background: grey;
  border-style: none;
  width: 50%;
  margin: 0;
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  gap: 1em;
  background-color: cornsilk;
  width: 70%;
  margin: auto;
}

.container {
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: blanchedalmond;
}

.book {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
  padding: 0.5em 1em;
  font-weight: 600;
}

.book .left {
  display: flex;
  gap: 0.6em;
}

.book button {
  width: 70px;
}

.evens {
  background-color: gainsboro;
}

#book-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 150px;
}

#book-form div {
  display: flex;
  justify-content: end;
}

#book-form button {
  display: inline-block;
  width: 50px;
}
